<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Amino Acids</title>
  </head>
  
  <body>
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <div class="p-2 md:p-4 lg:p-6">
      {% block content %}
      
      {% endblock %}
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>